@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /* 
        --colorNavbar: rgba(17, 17, 255, 0.753);
        --colorNavbar: rgba(13, 110, 253, 0.753);
        --secColor: rgb(119, 119, 119); b01117 rgb(81, 80, 80)
    */
    --colorNavbar: #1a2b57;
    --colorHover: white;
    --secColor: #1a2b57;
}


html, body, .first-section-class {
    height: 100%;
    overflow-x: hidden;
}

.insert-margin-class {
    margin-left: 1px;
}

/*************************** 
            HEADER 
***************************/

header nav {
    background-color: var(--colorNavbar);
}

/* BRAND */
.brand-a-class {
    padding: 20px 0;
}

/* HAMBURGUER */
.navbar-light, .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

/* MENU */
.container-menu-class a { 
    color: white;
    text-align: center;
}

.container-menu-class a:hover {
    font-weight: bold;
    color: var(--colorHover);
}



/*************************** 
            SECTION 
***************************/

.container-btn-class {
    margin-top: 40px;
    text-align: center;
}

.btn-custom-class {
    background-color: var(--colorNavbar);
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    transition: background .4s, color .4s;
    padding: 10px 20px;
}

.btn-custom-class:hover {
    background-color: white;
    color: var(--colorNavbar);
    border: 1px solid var(--colorNavbar);
}

.first-section-class {
    background-color: white;
}

.second-container-class {
    background-color: var(--secColor);
    padding: 20px;
}

.container-info-class {
    padding: 20px;
    margin-bottom: 20px;
}

.second-container-class img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.second-container-class h3 {
    font-size: 1.3em;
    color: white;
    font-weight: bold;
}

.second-container-class p {
    font-size: .9em;
    color: white;
}

.button-info-class {
    background-color: white;
    color: var(--colorNavbar);
}

.button-info-class:hover {
    background-color: var(--colorNavbar);
    color: white;
    border: 1px solid white;
}

.container-img-class {
    text-align: center;
}

.container-button-class {
    text-align: right;
}

.button-news-class {
    background-color: var(--colorNavbar);
    color: white;
}

.button-news-class:hover {
    border: 1px solid var(--colorNavbar);
}


/*************************** 
            FOOTER 
***************************/

footer {
    background-color: white;
    padding: 20px;
    text-align: center;
}
