@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /* 
        --colorNavbar: rgba(17, 17, 255, 0.753);
    */
    --colorNavbar: rgba(13, 110, 253, 0.753);
}


html, body, .first-section-class {
    height: 100%;
    overflow-x: hidden;
}

/*************************** 
            HEADER 
***************************/

header nav {
    background-color: var(--colorNavbar);
}

/* BRAND */
.brand-a-class {
    padding: 20px 0;
}

/* HAMBURGUER */
.navbar-light, .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

/* MENU */
.container-menu-class a { 
    color: white;
    text-align: center;
}

.container-menu-class a:hover {
    color: yellow;
}



/*************************** 
            SECTION 
***************************/

.container-btn-class {
    margin-top: 40px;
    text-align: center;
}

.btn-custom-class {
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    transition: background .4s, color .4s;
    padding: 10px 20px;
}

.first-section-class {
    background-color: white;
}

.second-container-class {
    background-color: var(--colorNavbar);
    padding: 20px;
}

.container-info-class {
    padding: 20px;
    margin-bottom: 20px;
}

.second-container-class img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.second-container-class h3 {
    font-size: 1.3em;
}

.second-container-class p {
    font-size: .9em;
}

.button-info-class {
    background-color: white;
    color: var(--colorNavbar);
}

.button-info-class:hover {
    background-color: var(--colorNavbar);
    color: white;
}

.container-img-class {
    text-align: center;
}

.container-button-class {
    text-align: right;
}


/*************************** 
            FOOTER 
***************************/

footer {
    background-color: white;
    padding: 20px;
    text-align: center;
}